<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        
        Test of Jekyll -
        
        Lot About
    </title>
    
    <meta name="author" content="Mark Wallace" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/css/docs.css" rel="stylesheet">
    <link href="/assets/css-social-buttons/zocial.stripped.css" rel="stylesheet">
    <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    
    <!-- mathjax config similar to math.stackexchange -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      },
      messageStyle: "none",
      "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
    });
    </script>
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
ript>
    <![endif]-->
  </head>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39956831-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  <body data-spy="scroll" data-target=".bs-docs-sidebar"> 

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="brand">Lot About</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">HOME</a></li>
                    
                    
                    <!-- use sorted_for.rb plugin -->

    
        
    

    
        
    

    
        
    

    
        
            
      	    <li><a href="/archive.html">Archive</a></li>
            
        
    

    
        
            
      	    <li><a href="/rss.xml">RSS</a></li>
            
        
    

    
        
            
      	    <li><a href="/atom.xml">Atom</a></li>
            
        
    

    
        
            
      	    <li><a href="/about.html">About</a></li>
            
        
    





                </ul>

                <ul class="nav pull-right social visible-desktop">
                    <li class="divider-vertical"></li>
                    
                      <li>
                        <a href="https://github.com/lotabout" class="zocial github icon" target="_blank">
                          <span class="hidden-desktop">Github</span>
                        </a>
                      </li>
                    
                    
                      <li>
                        <a href="https://plus.google.com/103158895948424209870" class="zocial googleplus icon" target="_blank">
                          <span class="hidden-desktop">Google+</span>
                        </a>
                      </li>
                    
                    
                    
                    
                    
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
        <!--<div class="row-fluid">-->
    <!--<div class="span3"></div>-->
    <!--<div class="span7">-->
<!--<div class="page-header">-->
    <!--<h1>Test of Jekyll  <br/><small>A sandbox where I test components of jekyll.</small></h1>-->
<!--</div>-->
    <!--</div>-->
    <!--<div class="span3"></div>-->
<!--</div>-->

<div class="post-header">
    <h1>Test of Jekyll  <br/><small>A sandbox where I test components of jekyll.</small></h1>
</div>


<div class="row-fluid">
     <div class="span3 bs-docs-sidebar">
            <ul class='nav nav-list bs-docs-sidenav' id="toc">
            <!-- toc -->
            </ul>
     </div>

    <div class="span7 main">
        <h1 id="code-snippets">code snippets</h1>

<p><strong>Example 1</strong>
Backtick code block</p>

<pre><code>```
sudo make me a sandwich
``` becomes:

sudo make me a sandwich
</code></pre>

<p><strong>Example 2</strong></p>

<pre><code>{% highlight bash %}
cd ~
{% endhighlight %}
</code></pre>

<p>becomes:</p>

<div>
    <pre><code class="bash">cd ~</code></pre>
  </div>

<p>Inline code block with <code>backticks</code> surrounded.</p>

<h1 id="latex-support-by-maruku">LaTeX support by maruku</h1>

<pre><code>inline math $e^x = \sum_{n=0}^\infty \frac{x^n}{n!} = \lim_{n\rightarrow\infty} (1+x/n)^n$ end.
</code></pre>

<p>inline math <script type="math/tex">e^x = \sum_{n=0}^\infty \frac{x^n}{n!} = \lim_{n\rightarrow\infty} (1+x/n)^n</script> end.</p>

<p>equations:</p>

<script type="math/tex; mode=display">
\sum_{n=1}^\infty \frac{1}{n} 
\text{ is divergent, but } 
\lim_{n \to \infty} \sum_{i=1}^n \frac{1}{i} - \ln n \text{exists.} 
</script>

<script type="math/tex; mode=display"> \beth \Subset \bigtriangleup \bumpeq \ggg \pitchfork </script>

<h1 id="images">images</h1>
<p>image link:</p>

<pre><code>![Boat](/images/20130407-boat.jpg)
</code></pre>

<p><img src="/images/20130407-boat.jpg" alt="Boat" /></p>

<h1 id="embeded-files">embeded files</h1>

<pre><code>[hello.c](/files/20130407-hello.c)
</code></pre>

<p><a href="/files/20130407-hello.c">hello.c</a></p>

        <hr/>
        <div class="pagination btn-group">
            
            <a class="btn disabled prev"> &larr; Previous </a>
            
            <a href="/archive.html" class="btn">Archive</a>
            
            <a href="/2013/04/08/how-is-this-blog-built" class="btn next" title="论本博客的创建"> Next &rarr;</a>
            
        </div>
        <hr>
        <div class="post">
            <h2>Related Posts</h2>
            <ul>
                
                <li>
                <span>27 Mar 2014</span>
                &raquo;
                <a href="/2014/03/27/recursion">递归的奥秘</a>
                </li>
                
                <li>
                <span>01 Jan 2014</span>
                &raquo;
                <a href="/2014/01/01/apr-pools">apr 学习笔记之 apr_pool</a>
                </li>
                
                <li>
                <span>15 Dec 2013</span>
                &raquo;
                <a href="/2013/12/15/image-files-manipulate">Linux 镜像文件处理</a>
                </li>
                
                <li>
                <span>26 Sep 2013</span>
                &raquo;
                <a href="/2013/09/26/awk-notes">awk 常用命令</a>
                </li>
                
                <li>
                <span>19 May 2013</span>
                &raquo;
                <a href="/2013/05/19/how-to-ask">你的问题被鄙视过吗？</a>
                </li>
                
                <li>
                <span>12 Apr 2013</span>
                &raquo;
                <a href="/2013/04/12/git-notes">git 常用命令</a>
                </li>
                
                <li>
                <span>08 Apr 2013</span>
                &raquo;
                <a href="/2013/04/08/how-is-this-blog-built">论本博客的创建</a>
                </li>
                
            </ul>
        </div>

        <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_developer = 1;
    var disqus_shortname = 'lotaboutlife'; // required: replace example with your forum shortname
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

        <!-- add comment here -->

    </div>

    <div class="span2">
        <section>
            <h4>Published</h4>
            <div class="date">
                <span>07 April 2013</span>
            </div>
        </section>
        
        
        
        <section>
            <h4>Categories</h4>
            <ul class="tag_box">
                
                
   
  	<li><a href="/categories.html#unknown-ref">
  		unknown <span>2</span>
  	</a></li>
  



            </ul>
        </section>
        
        <section>
            <h4>Tags</h4>
            <ul class="tag_box">
                
                
   
  	<li><a href="/tags.html#hello-ref">hello <span>1</span></a></li>
   
  	<li><a href="/tags.html#test-ref">test <span>1</span></a></li>
  



            </ul>
        </section>
        
    </div>
</div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
          <p> Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> & <a href="http://twitter.github.io/bootstrap/index.html"> twitter bootstrap </a> </p>
          <p> Copyright 2013 - 2014 by <a href="https://lotabout.bitbucket.org/about.html"> Mark Wallace </a> </p>

        <ul class="footer-links">
          <li><a href="https://github.com/lotabout">github</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://bitbucket.org/lotabout">bitbucket</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://bitbucket.org/lotabout/lotabout.bitbucket.org">Site Source</a></li>
        </ul>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var TOC=""
        $("div.main>h1, div.main>h2").each(function(i){
            var current=$(this);
            current.attr("id", "title" + i);
            current.css("padding-top", "45px"); <!-- solve navbar overlap problem -->
            current.css("margin-top", "-20px"); <!-- solve navbar overlap problem -->
            TOC += "<li><a id='link" + i + "' href='#title" + i + "'title='" + current.attr("tagName") + "'>" + current.text() + "<i class='icon-chevron-right'></i></a></li>"
            })
        $("#toc").append(TOC)
    });
    </script> 
    <script type="text/javascript">
        $(document).ready(function(){
        $('pre').addClass('prettyprint linenums') })
    </script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/application.js"></script>
    <script src="/assets/js/google-code-prettify/prettify.js"></script>
    
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    
  </body>
</html>
