/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 29px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

body {
    font-size: 16px;
    line-height: 24px;
}


#archive li time {
  color: #888;
}

ul#archive {
  list-style: none;
  padding-bottom: 20px;
  margin: 20px 0;
}

ul#archive li {
  clear: left;
  margin-bottom: 20px;
}

ul#archive li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

ul#archive li time {
  display: block;
  float: left;
  padding-right: 2%;
  text-align: right;
}

ul#archive li .description {
  float: left;
}

ul#archive li .description .excerpt {
  margin-top: 0.5em;
}

img{
    clear: both;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
p img{
    clear: both;
    display: inline;
}

.post-header {
    width: 57.4468%;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid #DDDDDD;
}
